
body {
    font-family: Tahoma, sans-serif;
} 
#otp_validation_modal_trigger_button {
    display: none;
}
.confirm_contact_close {
    display: none;
}
#terms-and-conditions,
#go_home {
    text-decoration-line: none;
}
footer {
    background-color: blue;
    padding: 0.3rem;
    color: white;
}
.hidden_form,
.otp_form_hidden,
.otp_verification_h2_hidden,
.icon-hidden,
.otp_form_previous_hidden_btn,
.hidden_step_four_status {
    display: none;
} 
body 
.client_status 
.add_wife_hidden_form_element,
body .main .add_wife_hidden_form_element {
    display: none;
}
